body {
  margin: 0px;
}

h1 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 31px;
  text-transform: uppercase;
  color: #ffffff;
}

h2,
h3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #e3b873;
  margin: 0px;
}

p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.mobile-container {
  width: 95%;
  margin: 0px auto;
}

.yellow-text {
  color: #e3b873;
}

.button {
  background: #e3b873;
  outline: 0;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

/* HEADER */
.header {
  background-color: black;
  height: 57px;
}

.header-navigation,
#header-button,
.advantages,
#clients-section,
#realize-ul,
.first-photo-block,
.second-photo-block,
.footer-content {
  display: none;
}

.logo,
.phone-number {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.logo {
  color: #e3b873;
  text-transform: uppercase;
}

.phone-number {
  display: block;
  color: #ffffff;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
}

/* TURNKEY SECTION */
.turnkey {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../css-practice/images/image-background1.jpg);
  background-size: cover;
  height: 476px;
  padding-top: 85px;
}

#section1-btn-yellow,
#section1-btn-colorless {
  display: block;
  min-width: 300px;
  max-width: 380px;
  width: 100%;
  height: 51px;
  margin: 22px auto;
}

#section1-btn-yellow {
  margin-top: 40px;
}

#section1-btn-colorless {
  background-color: transparent;
  border: 1px solid #ffffff;
}

/* COMLETED-PROJECT SECTION */
.completed-projects-p {
  font-size: 11px;
  line-height: 17px;
  text-align: center;
}

.completed-projects,
#online-control-section,
.first-form,
.questions,
.map-section {
  background-color: #131313;
  background-size: cover;
}

.mobile-gallery {
  display: block;
  margin: 0px auto;
  position: relative;
  height: 241px;
  width: 100%;
}

.mob-gall-item,
.mob-gall-arrws {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  max-width: 100%;
}

.mob-gall-arrws {
  margin: auto;
}

.div-for-flex {
  display: flex;
  padding-top: 42px;
  justify-content: space-evenly;
}

.completed-projects-h3,
.completed-projects-p-description {
  text-align: left;
}

.completed-projects-h3 {
  font-size: 14px;
}

#right-bottom-item {
  padding-top: 17px;
  margin: 0px;
}

#arrow-gallery,
.photo-gallery {
  display: none;
}

#completed-projects-title {
  padding-top: 36px;
}

#completed-projects-p-title {
  margin: 22px auto 72px;
}

/* ONLINE CONTROL SECTION */

.camera-icon {
  display: block;
  margin: 0px auto 41px;
}

.container-video {
  height: 250px;
  width: 440px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../css-practice/images/image\ 6.jpg);
  background-size: 500px;
  margin: 0px auto;
  position: relative;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
  max-width: 100%;
}

#play-btn {
  background-color: #e3b873;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.online-control-title {
  color: white;
  padding-top: 58px;
  margin-bottom: 32px;
}

/* FIRST FORM */

.first-form {
  padding: 23.5px;
}

#form-p {
  text-align: center;
  margin: 22px auto 61px;
  font-size: 11px;
}

.name-phone-form {
  margin: 0px auto;
  width: 340px;
  max-width: 100%;
}

.name-phone-form input,
.questions-form-container input {
  width: 100%;
  background-color: #131313;
  height: 30px;
  border: 0px;
  border-bottom: 2px solid rgba(54, 54, 54, 0.3);
}

#first-mob-cb {
  margin: 0px auto;
  width: 340px;
  max-width: 100%;
  margin-top: -25px;
}

#first-mob-cb .chekbox-text,
#questions-check-label {
  color: white;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#form-btn,
#questions-form-btn {
  height: 51px;
  width: 100%;
  padding: 0px;
  font-style: normal;
}

#form-btn {
  margin: auto;
  position: relative;
  top: 60px;
}

/* TYRES SECTION */
#tyres-title {
  color: black;
  margin-top: 85px;
  margin-bottom: 40px;
}

.part-tyres {
  height: 608px;
  width: 392px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 100%;
  margin-bottom: 60px;
}

.to-do-list {
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  height: 286px;
  width: 330px;
  position: absolute;
  bottom: 27px;
  align-self: center;
  max-width: 100%;
}

.to-do-list li {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #959595;
}

.to-do-list ul {
  padding-left: 50px;
  margin-top: 0px;
}

.price-example-tyres {
  background-color: #e3b873;
  height: 54px;
  width: 228px;
  position: absolute;
  bottom: 0px;
  left: 31px;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.price-example-tyres h3 {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  margin: 17px auto;
}

.tyres-h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #363636;
  text-align: left;
  margin: 25px 34px 13px;
}

/* REALIZE SECTION */

.mob-realize {
  display: block;
  margin: 0px auto;
  max-width: 100%;
  position: relative;
  top: 37px;
}

.mob-realize-arrow {
  display: block;
  position: relative;
  z-index: 1;
  margin: 0px auto;
  max-width: 100%;
  bottom: 100px;
}

.realize-list {
  height: 220px;
}

/* QUESTIONS STCTION */

.questions-form-title {
  padding-top: 173px;
  color: white;
  margin-bottom: 50px;
}

.questions-form-container {
  width: 340px;
  max-width: 100%;
  margin: 0px auto;
}

#third-chekbox {
  margin: 24px auto 64px;
}

#questions-form-btn {
  margin-bottom: 40px;
}

/* MAP SECTION */

.map-title-h3 {
  margin: 40px auto 30px;
  font-size: 18px;
}

#map-mobile {
  max-width: 100%;
  order: -1;
}

.map-container {
  display: flex;
  flex-direction: column;
}

#map-icons {
  width: 90px;
  margin: 0px auto 49px;
}

/* CHECKBOXES STYLES */
.container-chekbox input[type='checkbox']:checked,
.container-chekbox input[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
.container-chekbox input[type='checkbox']:checked + label,
.container-chekbox input[type='checkbox']:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
.container-chekbox input[type='checkbox']:checked + label:before,
.container-chekbox input[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  background-color: #e3b873;
  border-radius: 1px;
}
.container-chekbox input[type='checkbox']:checked + label:after,
.container-chekbox input[type='checkbox']:not(:checked) + label:after {
  content: '';
  position: absolute;
  transition: all 0.2s ease;
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
.container-chekbox input[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
}
.container-chekbox input[type='checkbox']:checked + label:after {
  opacity: 1;
}
/* END OF CHECKBOXES STYLES*/
