body {
  margin: 0;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

body * {
  box-sizing: border-box;
}

.header {
  background-color: black;
  font-size: 11px;
}

.container {
  max-width: 1256px;
  margin: 0 auto;
}

.header-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.turnkey {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../css-practice/images/image-background1.jpg);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
}

.container-turnkey {
  padding-left: 40px;
}

#turnkey-title {
  margin: 0;
  font-family: 'Yeseva One', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

#turnkey-p {
  color: #ffffff;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 36px;
}

.completed-projects {
  background-color: #131313;
  background-size: cover;
  color: #ffffff;
  height: 1074px;
}

.container-completed-projects {
  display: flex;
  justify-content: space-between;

  width: 1171px;
}

#photo-gallery-btns,
#completed-projects-title {
  margin: 0px;
}

#completed-projects-title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  padding-top: 176px;
  color: #e3b873;
}

.completed-projects-p {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
}

.completed-projects-p-description {
  font-size: 13px;
  line-height: 21px;
  margin-bottom: 0px;
  margin-top: 9px;
}

.completed-projects-h3 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0px;
  color: #e3b873;
}

.div-for-flex {
  display: flex;
  padding-top: 42px;
  /* justify-content: space-between; */
}

#right-item {
  margin-left: 66px;
}

#left-bottom-item {
  padding-top: 34px;
  margin: 0px;
}

#right-bottom-item {
  padding-top: 55px;
  margin: 0px;
}

#arrow-gallery {
  margin-top: 81px;
  width: 205px;

  display: flex;
  justify-content: space-between;
}

.button-gallery-1 {
  background-color: #ffffff;
  border: 0px;
  padding: 0px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  align-self: center;
}

.not-active {
  background-color: #4e4e4e;
}

.arrow {
  color: white;
}
#rotate {
  transform: rotate(180deg);
}

.button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

#section1-btn-yellow,
#section1-btn-colorless {
  height: 51px;
  width: 207px;
  margin-right: 20px;
}

#section1-btn-colorless {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #ffffff;
}

#header-button {
  height: 37px;
  width: 161px;
}

.header-navigation {
  display: flex;
  list-style: none;
}

.header-navigation-item {
  margin-right: 47px;
}

.header-navigation-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.logo {
  color: white;
  /* margin-left: 92px; */
  font-size: 11px;
  text-transform: uppercase;
}

.phone-number {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0px;
}
.yellow-text {
  color: #e3b873;
}
