body {
  margin: 0;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

body * {
  box-sizing: border-box;
}

p {
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 37px;

  color: #363636;
}

h3 {
  font-family: 'Yeseva One', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #181818;
}

.header,
footer {
  background-color: black;
  font-size: 11px;
}

.container {
  width: 1256px;
  margin: 0 auto;
}

.header-content,
.footer-content {
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}

.turnkey {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../css-practice/images/image-background1.jpg);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
}

.container-turnkey {
  padding-left: 40px;
}

#turnkey-title {
  margin: 0;
  font-family: 'Yeseva One', 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  color: #ffffff;
}

#turnkey-p {
  color: #ffffff;
  font-size: 22px;
  line-height: 36px;
}

.completed-projects {
  background-color: #131313;
  background-size: cover;
  color: #ffffff;
  height: 1074px;
}

.container-completed-projects {
  display: flex;
  justify-content: space-between;
  width: 1171px;
}

.photo-gallery {
  margin-left: 40px;
}

#photo-gallery-btns,
#completed-projects-title {
  margin: 0px;
}

#photo-gallery-btns {
  list-style: none;
  display: flex;
  padding-inline-start: 0px;
  margin-top: 107px;
}

.photo-gallery-btn {
  margin-right: 60px;
  padding: 0px;
  padding-bottom: 6px;
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: transparent;
  color: #e3b873;
  border: 0px;
  border-bottom: 1px solid #e3b873;
}

.photo-gallery-btn-not-active {
  color: rgba(255, 255, 255, 0.3);
  border: 0px;
}

.photo-image {
  margin-top: 53px;
}

#completed-projects-title {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 37px;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  padding-top: 176px;
  color: #e3b873;
}

.completed-projects-p {
  font-size: 14px;
  line-height: 27px;
  color: #ffffff;
  padding-top: 34px;
  margin: 0px;
}

.completed-projects-p-description {
  font-size: 13px;
  line-height: 21px;
  margin: 0px;
  padding-top: 9px;
}

.completed-projects-h3 {
  font-size: 18px;
  line-height: 25px;
  margin: 0px;
  text-align: left;
  color: #e3b873;
}

#online-control-section {
  height: 217px;
  position: relative;
}

.container-online-control {
  position: absolute;
  top: -317px;
  margin: auto;
  right: 0px;
  left: 0px;
}

.online-control-title {
  margin: 0px auto;
  color: #ffffff;
  padding-bottom: 13px;
}

.camera-icon {
  display: block;
  margin: 0px auto 31px;
}

.container-video {
  height: 434px;
  width: 817px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../css-practice/images/image\ 6.jpg);
  margin: 0px auto;
  position: relative;
  filter: drop-shadow(0px 20px 50px rgba(0, 0, 0, 0.15));
}

#play-btn {
  background-color: #e3b873;
  height: 84px;
  width: 84px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.div-for-flex {
  display: flex;
  padding-top: 42px;
}

#right-item {
  margin-left: 66px;
}

#left-bottom-item {
  padding-top: 34px;
  margin: 0px;
}

#right-bottom-item {
  padding-top: 55px;
  margin: 0px;
}

#arrow-gallery {
  margin-top: 81px;
  width: 205px;
  display: flex;
  justify-content: space-between;
}

.button-gallery-1 {
  background-color: #ffffff;
  border: 0px;
  padding: 0px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  align-self: center;
}

.not-active {
  background-color: #4e4e4e;
}

.arrow {
  color: white;
}
#rotate {
  transform: rotate(180deg);
}

.button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  color: white;
  text-transform: uppercase;
  font-family: 'Nunito Sans', Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
}

#section1-btn-yellow,
#section1-btn-colorless {
  height: 51px;
  width: 207px;
  margin-right: 20px;
}

#section1-btn-colorless {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #ffffff;
}

#header-button,
#footer-button {
  height: 37px;
  width: 161px;
}

.header-navigation,
.footer-navigation {
  display: flex;
  list-style: none;
}

.header-navigation-item,
.footer-navigation-item {
  margin-right: 47px;
}

.header-navigation-item a,
.footer-navigation-item a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.logo {
  color: white;
  font-size: 11px;
  text-transform: uppercase;
}

.phone-number {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0px;
}
.yellow-text {
  color: #e3b873;
}

#orange-line {
  margin-top: 62px;
}

#form-p {
  margin-top: 35px;
  text-align: center;
}

.name-phone-form,
.questions-form {
  display: flex;
  margin-top: 94px;
}

.label-p {
  margin: 0px;
  font-size: 13px;
  line-height: 21px;
  color: rgba(54, 54, 54, 0.5);
}

input[type='text']::placeholder {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #363636;
}

#form-btn,
#questions-form-btn {
  height: 51px;
  width: 200px;
  padding: 0px;
  font-style: normal;
}

.name-phone-form input {
  margin-right: 54px;
  width: 231px;
  height: 30px;
  border: 0px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.container-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 769px;
}

.container-chekbox {
  text-align: center;
  padding-right: 20px;
  margin-top: 39px;
}

.chekbox-text {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  color: #181818;
}

/* CHECKBOXES STYLES */
.container-chekbox input[type='checkbox']:checked,
.container-chekbox input[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}
.container-chekbox input[type='checkbox']:checked + label,
.container-chekbox input[type='checkbox']:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}
.container-chekbox input[type='checkbox']:checked + label:before,
.container-chekbox input[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  background-color: #e3b873;
  border-radius: 1px;
}
.container-chekbox input[type='checkbox']:checked + label:after,
.container-chekbox input[type='checkbox']:not(:checked) + label:after {
  content: '';
  position: absolute;
  transition: all 0.2s ease;
  left: 3px;
  top: 4px;
  width: 10px;
  height: 5px;
  border-radius: 1px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(-45deg);
}
.container-chekbox input[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
}
.container-chekbox input[type='checkbox']:checked + label:after {
  opacity: 1;
}
/* END OF CHECKBOXES STYLES*/

#tyres-title {
  margin-top: 148px;
}

.container-tyres {
  height: 608px;
  width: 1236px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.part-tyres {
  height: 608px;
  width: 392px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.to-do-list {
  background: #ffffff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  height: 286px;
  width: 330px;
  position: absolute;
  bottom: 27px;
  align-self: center;
}

.to-do-list li {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #959595;
}

.to-do-list ul {
  padding-left: 50px;
  margin-top: 0px;
}

.price-example-tyres {
  background-color: #e3b873;
  height: 54px;
  width: 228px;
  position: absolute;
  bottom: 0px;
  left: 31px;
  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
}

.price-example-tyres h3 {
  color: #ffffff;
  font-size: 18px;
  line-height: 25px;
  margin: 17px auto;
}

.tyres-h3 {
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  color: #363636;
  text-align: left;
  margin: 25px 34px 13px;
}

.advantages {
  height: 726px;
  margin-top: 124px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.advantages-list-back {
  height: 645px;
  background-repeat: no-repeat;
  margin-top: 106px;
  background-image: url(../css-practice/images/image\ 6.1adv-back.png);
}

.advantages-list {
  height: 474px;
  width: 385px;
  margin-left: 140px;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advantages-form {
  height: 620px;
  width: 506px;
  margin-top: 115px;
  position: relative;
}

.advantages-form-contacts {
  width: 506px;
  height: 509px;
  background-color: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  position: relative;
}

.container-advantages {
  width: 1236px;
  margin: 106px auto 0px;
  display: flex;
  justify-content: space-between;
  height: 752px;
}

.advantages-p {
  font-size: 14px;
  line-height: 19px;
  margin: 0px;
  padding-left: 10px;
}

.advantages-list-item {
  height: 50px;
  display: flex;
  align-items: center;
}

#p-form {
  text-align: center;
  margin: 0px;
  color: #ffffff;
  padding-top: 28px;
  line-height: 26px;
}

.advantages-name {
  color: rgba(255, 255, 255, 0.5);
}

.advantages-input {
  background-color: #131313;
  color: #ffffff;
}
.name-phone-email {
  margin-top: 39px;
}

.name-phone-email,
.phone-email input {
  width: 408px;
}

.phone-email {
  margin-top: 48px;
}
.advantages-form-contacts input[type='text']::placeholder {
  color: #ffffff;
  width: 408px;
}
#second-chekbox {
  margin: 0px;
  margin-top: 18px;
  text-align: left;
  padding-left: 49px;
}

#second-chekbox label {
  color: #ffffff;
}

#second-chekbox #third-chekbox .chekbox-text {
  color: #ffffff;
}

.adv-contacts {
  padding-left: 49px;
}

#advantages-form-btn {
  font-size: 13px;
  line-height: 21px;
  position: absolute;
  bottom: 27px;
  right: 49px;
  height: 51px;
  width: 213px;
  border-radius: 0px;
  font-style: normal;
}

#sale-pig {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-left: 25px;
  color: #e3b873;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
.sale-pig {
  display: flex;
  align-items: center;
  margin-left: 31px;
}

.pig-text {
  position: absolute;
  bottom: 0px;
  width: 506px;
}

/* REALIZE SECTION */
.realize-container-back {
  margin-top: 255px;
  height: 864px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/image\ 5.1realize-back.jpg);
  background-size: cover;
}

.realize-container {
  display: flex;
  width: 1236px;
  margin: 0px auto;
  justify-content: space-between;
}

.realize-list {
  width: 411px;
  height: 629px;
  position: relative;
  top: 137px;
}

#realize-title-h3 {
  text-align: left;
  font-size: 27px;
  line-height: 37px;
  color: #e3b873;
  margin: 0px;
}

#realize-ul {
  list-style: none;
  padding: 0px;
  margin-top: 47px;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 53px;
  color: #ffffff;
}

.realize-active-item {
  color: #e3b873;
  text-decoration: underline #e3b873 solid;
}

.first-photo-block {
  height: 947px;
  width: 354px;
  position: relative;
  left: 16px;
  bottom: 41px;
}

.second-photo-block {
  height: 937px;
  width: 354px;
  position: relative;
  bottom: 112px;
}

.realize-img-bot {
  margin-top: 36px;
}

/* CLIENTS SECTION */

#clients-title {
  margin-top: 110px;
  margin-bottom: 13px;
}

#clients-title-icon {
  display: block;
  margin: 0px auto;
}

#clients-title-p {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 39px;
}

.clients-items {
  height: 455px;
  width: 1236px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.clients-item {
  height: 428px;
  width: 376px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
}

.clients-object {
  width: 294px;
  height: 54px;
  background-color: #e3b873;
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
  position: relative;
  bottom: 27px;
}

.clients-photo-name {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 24px;
}

h4 {
  font-family: 'Yeseva One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #181818;
  margin-left: 23px;
}

.clients-photo-img {
  border-radius: 50%;
}

.clients-item-p {
  font-size: 13px;
  line-height: 23px;
  color: #959595;
  margin: 20px 32px 90px 21px;
}

.clients-object {
  box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.object-icon {
  margin: 0 auto;
  display: block;
}

/* QUESTIONS SECTION */
.questions-container {
  height: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    url(./images/city-back.png);
}

.questions-form-container {
  height: 445px;
  width: 883px;
  margin: 80px auto 0px;
  background-color: #181818;
  position: relative;
  z-index: 1;
}

.questions-white {
  width: 100vw;
  height: 10px;
  margin-top: 40px;
}

.questions-form-title {
  color: #ffffff;
  padding-top: 34px;
  margin: 0px auto;
}

.questions-form {
  margin-top: 47px;
  display: flex;
  justify-content: center;
}

#questions-form-name {
  margin-right: 58px;
}

.questions-form input {
  background-color: #181818;
  color: #ffffff;
  width: 231px;
  height: 30px;
  border: 0px;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.questions-form label {
  color: rgba(255, 255, 255, 0.5);
}

.questions-form input[type='text']::placeholder {
  color: #ffffff;
}

.any-question input {
  width: 517px;
}

#questions-check-label {
  color: #ffffff;
}

#third-chekbox {
  margin-top: 48px;
}

#questions-form-btn {
  margin-top: 51px;
  border-radius: 0px;
}

.questions-btn {
  display: flex;
  justify-content: center;
}

/* MAP SECTION */

.map-container {
  height: 954px;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.72)),
    url(./images/image\ 7.2map-back.png);
  position: relative;
  z-index: 0;
}

.map-title-h3 {
  margin-top: 0px;
  padding-top: 275px;
  color: #e3b873;
  margin-bottom: 26px;
}

.map-images {
  display: block;
  margin: 0px auto 43px;
}

/* FOOTER */
.footer-content {
  height: 133px;
}
